@model BYX.Models.BYXEvent
@{
    ViewBag.Title = " BYX - Swipe";
}

<h2>Swipe for @Model.Event_Name</h2>
@Html.HiddenFor(f => f.Event_ID)
<label for="cardNum">Ignited Number</label>
<input type="text" class="form-control" name="input" id="cardNum" placeholder="Ignited Number" />
<button type="button" class="btn btn-primary" id="btn-submit">Submit</button>
<hr />
<span id="Message"></span>

@section head {
    <script type="text/javascript">
        $(function () {
            var $cardNum = $('#cardNum');
            $cardNum.focus();
            $cardNum.keyup(function (e) {
                if (e.keyCode == 13) {
                    var cardNumber = $cardNum.val()
                    if ($cardNum.val().length == 17) {
                        var cardNumber = cardNumber.substring(1, 11);
                        $cardNum.val(cardNumber);
                    }
                    var ajaxCall = sendInput(cardNumber);
                    ajaxCall.success(function (object) {
                        if (object.success) {
                            $('#Message').text(object.fullname + " has successfully swiped in.");
                            $cardNum.val('');
                            $cardNum.focus();
                        }
                        else {
                            $cardNum.val('');
                            alert(object.errormessage);
                        }
                    });
                }
                //else {
                //    $cardNum.val('');
                //    alert('You need to use an ignited card or enter an Auburn username.');
                //    $cardNum.blur();
                //}
            });
            $('#btn-submit').click(function () {
                var ajaxCall = sendInput($cardNum.val());
                ajaxCall.success(function (object) {
                    if (object.success) {
                        $('#Message').text(object.fullname + " has successfully swiped in.");
                        $cardNum.val('');
                        $cardNum.focus();
                    }
                    else {
                        $cardNum.val('');
                        alert(object.errormessage);
                    }
                });
            });
            function sendInput(input) {
                return $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/Attendance/SwipeCreate")",
                    data: {
                        input: input,
                        eventID: $('#Event_ID').val()
                    },
                    dataType: "json",
                    success: function (object, textStatus, jqXHR) {
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }
        });


    </script>
}