
@{
    ViewBag.Title = "Block Seating";
}

<h2 style="margin-bottom:15px;">Block Seating</h2>
<div style="padding-left:15px;">
    <div class="row">
        <div class="col-sm-4">
            <h4>Tier 1</h4>
            <ul>
                <li>GPA: 4.00 - 3.50</li>
                <li>Opens: Monday at 12:00 PM</li>
            </ul>
            <h4>Tier 2</h4>
            <ul>
                <li>GPA: 3.49- 3.00</li>
                <li>Opens: Monday at 8:00 PM</li>
            </ul>
            <h4>Tier 3</h4>
            <ul>
                <li>GPA: 2.99- 2.50</li>
                <li>Opens: Tuesday at 12:00 PM</li>
            </ul>
            <h4>Tier 4</h4>
            <ul>
                <li>GPA: 2.49- 2.00</li>
                <li>Opens: Tuesday at 8:00 PM</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Tier 5</h4>
            <ul>
                <li>GPA: 1.99 - 0.00</li>
                <li>Opens: Wednesday at 12:00 PM</li>
            </ul>
            <h4>Pledges</h4>
            <ul>
                <li>GPA: 3.49- 3.00</li>
                <li>Opens: Wednesday at 4:00 PM</li>
            </ul>
            <h4>Alumni</h4>
            <ul>
                <li>GPA: wut</li>
                <li>Opens: Wednesday at 8:00 PM</li>
            </ul>
            <h4>Everyone</h4>
            <ul>
                <li>GPA: why</li>
                <li>Opens: Thursday at 12:00 PM</li>
            </ul>
        </div>
    </div>

</div>
<h3>Notes</h3>
<div style="padding-left:15px;">
    <p>Every brother is given a “plus one option.” This option must be used on a game day “date” of the female gender. If a plus one wristband is given, and used on someone other than the intended use; the result will be that the brother will be placed with pledges in the ticket priority section.</p>
    <p>You are required to be in Block an hour and fifteen minutes before kickoff. Failure to do so will result in your priority being moved down to pledge level.</p>
    <p>It is required that you stay the ENTIRE game. This means that you must stay for the alma mater. In the case of emergency you must inform the person responsible for block that you are leaving. Other cases of early departure will be granted on a case-by-case basis. This will be asked of the person responsible for Block seating.</p>
    <p>If you reserve wristband(s) and do not come, your time slot will be Friday at 6:00 PM.</p>
    <p>GPAs will be based off the same time period that Block is granted by. (As of 2015, the previous two semesters)</p>
</div>


