@{
    ViewBag.Title = "Auburn BYX";
}

<h2>Chapter Dress</h2>

@Html.Raw(BYX.Utilities.Content.GetHTML("ChapterAttire"))

<div style="margin-top:20px;">
    <p>
        <strong>Dress Code for Formal Chapter (Brothers)</strong> - Black pants, black belt or black suspenders, black socks, and black dress shoes
         with a white long-sleeved dress shirt tucked in and the fraternity tie. 
        All coats and jackets must be removed and placed on a coat rack upon entering the chapter building. 
    </p>

    <p>
        <strong>Dress Code for Normal Chapter (Brothers)</strong> -
        Dress slacks (Ex. Black, Navy, Brown, or Khaki pants) and a belt or suspenders with a long-sleeved collard button down shirt. 
        Shirt must be tucked in, shoes must be closed-toe dress shoes (No sneakers, basketball shoes, or running shoes are permitted), and no denim. 
        All coats and jackets must be placed on a coat rack upon entering the building.
    </p>

    <p>
        <strong>Dress Code for Pledges</strong> -
         Khaki pants with a belt and white dress shirt that is tucked in. No tie or bow tie is to be worn by a pledge.
          Shoes must be closed-toe. The pledge pin must be worn over the heart.
           All coats and jackets must be removed and placed on a coat rack or chair upon
        entering the chapter building.
    </p>
</div>