@{
    ViewBag.Title = "Auburn BYX";
}

<h2>Chapter Dress</h2>

@Html.Raw(BYX.Utilities.Content.GetHTML("ChapterAttire"))

<div style="margin-top:20px;">
    <p>
        <strong>Dress Code for Formal Chapter (Brothers)</strong> - Dark pants, belt, socks, and dress shoes
        with a white dress shirt tucked in and the
        fraternity tie. All coats and jackets must be removed and placed
        on a coat rack or chair upon entering the chapter building.
    </p>

    <p>
        <strong>Dress Code for Normal Chapter (Brothers)</strong> -
        Dress slacks (Ex. Black, Navy, Brown, or Khaki pants) and a belt with a dress button
        down shirt tucked in. Shoes must be close-toed. No sneakers, basketball shoes, or running shoes are permitted.
        Denim is prohibited. All coats and jackets must be removed and placed on a coat rack or chair
        upon entering the chapter building.
    </p>

    <p>
        <strong>Dress Code for Pledges</strong> -
        Khaki pants with a belt and white dress shirt that is tucked in.
        NO tie or bow tie is to be worn by a pledge. Shoes must be close-toed (No sneakers, basketball shoes, or running shoes).
        The pledge pin must be worn over the heart. All coats and jackets must be removed and placed on a coat rack or chair upon
        entering the chapter building.
    </p>
</div>