@{
    ViewBag.Title = "Auburn BYX";
}
<h4>If you're a parent or potential pledge and want to stay in contact with us, click @Html.ActionLink("here", "Register")</h4>

@section head {
    <style type="text/css">
        input[type="text"] {
            margin-bottom: 20px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#btn-submit').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/Home/GetName")",
                    data: { input: $('#cardNum').val() },
                    dataType: "json",
                    success: function (object, textStatus, jqXHR) {
                        $('#Name').text(object.firstName + " " + object.lastName);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("An error occurred while trying to complete your request. Please refresh the page. Error: " + textStatus + "," + errorThrown);
                    }
                });
            });
        });
    </script>
}
