@model IEnumerable<BYX.Models.Admin>

@{
    ViewBag.Title = "All";
}

<h2>All Admins</h2>

<p>
    @Html.ActionLink("Create New", "CreateAdmin")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Member.Member_FirstName + " " + item.Member.Member_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminRole.Role_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAdmin", new { id=item.Admin_ID }) 
        </td>
    </tr>
}

</table>
